In [ ]:
#Task: Create a function that will analyze the "Review Text" column and calculate a sentiment value. Make a new column in the dataframe that will contain the sentiment value for each review

In [1]:
import pandas as pd

import nltk
from nltk.tokenize import word_tokenize
from nltk.sentiment.vader import SentimentIntensityAnalyzer

from string import punctuation

C:\Users\Nisha\Anaconda3\lib\site-packages\nltk\twitter\__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [2]:
filepath = "datasets/women_clothing_review.csv"

clothing_df = pd.read_csv(filepath)
clothing_df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [3]:
len(clothing_df)

23486

In [4]:
clothing_df.count()

Unnamed: 0                 23486
Clothing ID                23486
Age                        23486
Title                      19676
Review Text                22641
Rating                     23486
Recommended IND            23486
Positive Feedback Count    23486
Division Name              23472
Department Name            23472
Class Name                 23472
dtype: int64

In [5]:
clothing_df.columns

Index(['Unnamed: 0', 'Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

In [6]:
clothing_df.drop('Unnamed: 0', axis=1, inplace=True)

In [7]:
sid = SentimentIntensityAnalyzer()

In [8]:
def getSentiment(text):
    
    try:
        #lowercase text
        lower_text = text.lower()
        
        #make a dictionary to map a punctuation mark to an empty value (None)
        #https://www.tutorialspoint.com/python/string_maketrans.htm
        table = str.maketrans({key: None for key in punctuation + "‘" + "’"})
        
        #use the table of mapped punctuation values with None replacements to remove punctuation
        #https://www.tutorialspoint.com/python/string_translate.htm
        nopunct_text = lower_text.translate(table)
        
        #calculate polarity scores for the text
        #nopunct_text is a string
        #sid_rev is a dictionary
        sid_rev = sid.polarity_scores(nopunct_text)
        
        r_comp = sid_rev['compound']
    
    except: 
        r_comp = None
        
    return r_comp

In [9]:
clothing_df['review_sentiment'] = clothing_df['Review Text'].apply(getSentiment)

In [10]:
clothing_df.head()

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,review_sentiment
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,0.8932
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,0.9719
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,0.9398
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,0.4805
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,0.9162

In [11]:
clothing_df.isnull().sum()

Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
review_sentiment            845
dtype: int64